@import './../common.less';
@import './../../common/order.less';

#main {
    overflow: hidden;
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    .buyer-content {
        padding-bottom: 33px;
    }

    .pagination {
    	float: right;
    }
}