#main {
    width: 1024px;
    margin: 0 auto;
    margin-top: 16px;
    .banner {
        @banner-height: 65px;
        background-color: #fff;
        width: 100%;
        height: @banner-height;
        font-size: 18px;
        font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #666633;
        .order-component {
            margin-left: 27px;
            line-height: @banner-height;
        }
    }
}