@import './../../common/common.less';

@slider-width: 1024px;
@slider-height: 470px;
#main {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 68px;
	#slider {
		width: @slider-width;
		margin: 0 auto;
		position: relative;
		overflow: auto;
		ul {
			padding-top: 0px;
		}
		ul li {
			height: @slider-height;
			float: left;
			img {
				width: @slider-width;
				height: @slider-height;
			}
		}
		.dots {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			right: 0;
			bottom: 20px;
			-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
			-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
			-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
			-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
			filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
			li {
				display: inline-block;
				width: 7px;
				height: 7px;
				margin: 0 4px;
				text-indent: -999em;
				border: 2px solid #fff;
				border-radius: 6px;
				cursor: pointer;
				opacity: .4;
				-webkit-transition: background .5s, opacity .5s;
				-moz-transition: background .5s, opacity .5s;
				transition: background .5s, opacity .5s;
			}
			li.active {
				background: #fff;
				opacity: 1;
			}
		}
	}
	@search-bar-width: 832px;
	@search-bar-height: 113px;
	@search-bg-width: 798px;
	@search-bg-height: 83px;

	#search-bar {
		// 确定搜索框的位置
		width: @search-bar-width;
		height: @search-bar-height;
		position: absolute;
		top: 128px;
		left: 50%;
		margin-left: -(@search-bar-width/2);
		overflow: hidden;

		//实现最底层背景的透明效果
		.search-bg {
			width: 100%;
			height: 100%;
			background-color: #fff;
			.opacity(0.3);
			float: left; 
		}

		//实现倒数第二层的背景透明效果
		.search-container-bg {
			background-color: #d1d2d4;
			.opacity(0.3); 
		}
		//设置倒数第二层的位置
		.search-container {
			position: absolute;
			float: left;
			margin: 15px 17px;
			width: @search-bg-width;			
			height: @search-bg-height;
		}
		.search-box {
			.search-box-container {
				width: 665px;
				height: 62px;
				float: left;
				margin-top: 10px;
				margin-left: 13px; 
				background-color: #fff;
				input {
					width: 100%;
					height: 100%;
					border: none;
					padding-left: 20px;
					color: #8ea37c;
					font-size: 20px;
				}
				input:-webkit-input-placeholder {
					color: #8ea37c;
				}
				input:-moz-placeholder {
				  	color: #8ea37c;
				}
				input:-ms-input-placeholder {
				  	color: #8ea37c;
				}​
				input:placeholder {
					color: #8ea37c;
				}
			}
			button {
				float: left;
				width: 84px;
				height: 62px;
				background: url(./../../images/common/search-btn.png) no-repeat;
				border: none;
				margin: 11px 0 0 20px;
			}
		}
	}

	#button-pic {
		img {
			width: 1024px;
			height: 350px;
		}
	}
}
