@page-color: #7f7d60;
.my-history {
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .one-history {
        width: 356px;
        margin-top: 17px;
        color: @page-color;
        .banner {
            .banner(100%, 32px, #7f7d60);
        }
        .panel {
            width: 100%;
            height: 99px;
            background-color: #fff;
            margin-top: 9px;
            position: relative;
            display: table;
            font-size: 14px;
            -moz-box-shadow:2px 2px 12px #ADADAD; -webkit-box-shadow:2px 2px 12px #ADADAD; box-shadow:2px 2px 12px #ADADAD;

            .message {
                padding: 0 60px;
                display: table-cell;
                vertical-align: middle;
            }
            .see-now {
                position: absolute;
                right: 18px;
                bottom: 14px;
                color: #7ecac9;
            }
        }
    }
}