
@step-color: #b8ac8d;
@step-active-color: #d5aa4a;
@register-header-bg-color: #7ecac9;

#wrapper {
	.register-area {
		margin: 0 auto;
		margin-top: 88px;
		width: 800px;

		.register-steps {
			width: 510px;
			margin: 0 auto;
			font-size: 14px;

			ul {
				list-style: none;

				li {
					float: left;
					width: 170px;
					color: @step-color;
					text-align: center;
				}

				.active {
					color: @step-active-color;
				}
			}
		}

		.register-form {
			width: 388px;
			margin: 0 auto;
			margin-top: 65px;

			h2 {
				margin: 0 auto;
				width: 315px;
				font-size: 22px;
				text-align: center;
				color: white;
				height: 60px;
				line-height: 60px;
				vertical-align: middle;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background-color: @register-header-bg-color;
			}

			.register-body {
				height: 250px;
				background: url("../../images/register/bg.png") no-repeat;

				.register-items {
					margin: 0 auto;
					width: 315px;
					padding: 10px 0px 10px 14px;

					.register-item {
						margin-bottom: 12px;

						input {
							height: 34px;
							width: 283px;
							border-radius: 10px;
							border: 1px solid #cae9e9;
							font-size: 15px;
							outline: none;
							padding: 5px 5px 5px 10px;
						}

						#auth-code {
							width: 110px;
							float: left;
						}

						#authcode-img {
							float: left;
							margin-left: 40px;
						}

						.agree-img, .disagree-img {
							float: left;
						}
					}
				}

				.register-text {
					line-height: 1.5em;
					color: 
				}

				.register-phone {

				}

				.register-authcode {

					#register-authcode {

					}

					.register-sec {

					}
				}
			}

			#register-btn {
				width: 100px;
				height: 38px;
				background-color: @register-header-bg-color;
				border: 0px;
				border-radius: 10px;
				color: #fff;
				font-size: 17px;
				float: right;
				margin-top: 15px;
				cursor: pointer;
			}
		}
	}
}
