
@page-bg-color: #f3f3f3;

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: @page-bg-color;
}

#container {
	position: relative;
}
/*
 * 页面布局样式
 * 保证了footer固定在底部
 */
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
    padding-bottom: 68px;
    background-color: #fff;
}
