/*
 * 定义全局Less样式
 * 定义常见class样式
 */

@import 'common.less';

@page-bg-color: #f3f3f3;

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: @page-bg-color;
}

#container {
	position: relative;
}
/*
 * 页面布局样式
 * 保证了footer固定在底部
 */
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
    // padding-bottom: 68px;
    background-color: @page-bg-color;
}

#main {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.btn {
    width: 98px;
    height: 35px;
    line-height: 35px;
    font-family: "Microsoft YaHei";
    text-align: center;
    background-color: #7ecac9;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 12px;
    .border-radius(10px);
    color: #fff;
}
.clear {
  clear: both;
}

.hidden {
  display: none;
}

