	
@content-width: 750px;
@horizontal-padding: 30px;
@vertical-padding: 25px;

.tradingCenter-content {
	float: left;
	width: @content-width - @horizontal-padding * 2;
	margin: 10px 0px 0px 30px;
	background-color: #fff;
	padding: @vertical-padding @horizontal-padding @vertical-padding @horizontal-padding;
}