@import '../../../common/common.less';

.contact-content {

	.content-main {
		margin-top: 20px;

		.content-row {
			@line-height: 35px;

			width: 100%;
			float: left;
			margin-bottom: 15px;

			label {
				float: left;
				line-height: @line-height;
				vertical-align: middle;
				width: 100px;
			}

			.content-input {
				float: left;

				
			}

			#contact-save-btn {
				
			}
		}
	}
}