@import '../../../common/common.less';

#main {
	width: 953px;

	.block {
		width: 853px;
		padding: 40px 50px 40px 50px;
		margin: 20px 0px 20px 0px;
		background-color: #fff;
		color: #878787;
		position: relative;
		line-height: 1.2em;
	}

	.base-info {
		.avatar {
			float: left;
			margin-right: 108px;
		}
		.info {
			float: left;
			color: #6a6646;
			font-size: 14px;
			.name {
				font-weight: bold;
			}

			.region-wrapper {
				margin: 14px 0px 26px 0px;
				font-size: 12px;
				color: #d3c6a5;
				.region {
					margin-right: 10px;
				}
			}
			
			.text {
				line-height: 1.5em;
			}

			.desc {
				margin: 23px 0px 20px 0px;
			}

			.data {
				font-size: 12px;
			}

			.talk {
				line-height: 23px;
				margin-top: 20px;
				span {
					float: left;
					height: 23px;
					margin-right: 10px;
				}

				#talk-btn {
					margin-top: 0px;
					border: 0px;
					height: 23px;
					line-height: 23px;
					width: 62px;
					font-size: 12px;
				}
			}
		}
	}

	.tag {
		color: #fff;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 90px;
		height: 32px;
		font-size: 14px;
		background-color: #7ecec8;
		padding: 10px 0px 0px 10px;
	}

	.about {
		p {
			margin-top: 45px;
			line-height: 2em;
		}
	}

	.skill {
		padding: 65px 50px 26px 50px;

		.skill-item {
			float: left;
			width: 101px;
			height: 43px;
			line-height: 43px;
			vertical-align: middle;
			margin: 14px 30px 14px 0px;
			padding-left: 10px;
			background: url("/images/tradingcenter/icon/3.png") no-repeat;
		}
	}

	.work-experience {
		padding: 70px 50px 10px 50px;
		.work-item {
			line-height: 1.5em;
			.work-time {
				float: left;
				width: 200px;
			}

			.work-content {
				float: left;
				width: 345px;
				margin: 0px 133px 30px 100px;
			}
		}
	}

	.edu-experience {
		padding: 70px 50px 10px 50px;
		.edu-item {
			line-height: 1.5em;
			.edu-time {
				float: left;
				width: 200px;
			}

			.edu-content {
				float: left;
				width: 345px;
				margin: 0px 133px 30px 100px;
			}
		}
	}

	.awards {
		padding: 70px 50px 10px 50px;
		.award-item {
			line-height: 1.5em;
			.award-time {
				float: left;
				width: 200px;
			}

			.award-content {
				float: left;
				width: 345px;
				margin: 0px 133px 30px 100px;
			}
		}
	}

	.contact {
		.contact-avatar {
			float: left;
			overflow: hidden;
			margin-right: 152px;
			.border-radius(75px);
		}
		.contact-text {
			width: 237px;
			height: 167px;
			float: left;
			position: relative;
			margin-top: 10px;

			img {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			span {
				margin-left: 50px;
			}

			div {
				margin-bottom: 20px;
			}
		}
	}
}