@import '../../../common/common.less';

#main {
	width: 953px;
	@bg-color: #7ecec8;

	.edit-btn() {
		text-align: center;
		color: #fff;
		font-size: 12px;
		background-color: @bg-color;
		height: 23px;
		width: 40px;
		line-height: 23px;
		.border-radius(10px);
	}

	.block {
		width: 853px;
		padding: 40px 50px 40px 50px;
		margin: 20px 0px 20px 0px;
		background-color: #fff;
		color: #878787;
		position: relative;
		line-height: 1.2em;

		.operation {
			float: right;
			text-align: center;
			color: #fff;
			font-size: 12px;

			div {
				background-color: @bg-color;
				height: 23px;
				width: 40px;
				line-height: 23px;
				margin-top: 5px;
				.border-radius(10px);
				margin-left: 10px;
				float: right;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.base-info {
		.edit-btn {
			.edit-btn;
			position: absolute;
			right: 50px;
			top: 20px;
		}
		.avatar {
			float: left;
			margin-right: 108px;
		}
		.info {
			float: left;
			color: #6a6646;
			font-size: 14px;
			.name {
				font-weight: bold;
			}

			.region-wrapper {
				margin: 14px 0px 26px 0px;
				font-size: 12px;
				color: #d3c6a5;
				.region {
					margin-right: 10px;
				}
			}
			
			.text {
				line-height: 1.5em;
			}

			.desc {
				margin: 23px 0px 20px 0px;
			}

			.data {
				font-size: 12px;
			}

			.talk {
				line-height: 23px;
				margin-top: 20px;
				span {
					float: left;
					height: 23px;
					margin-right: 10px;
				}

				.btn {
					margin-top: 0px;
					border: 0px;
					height: 23px;
					line-height: 23px;
					font-size: 12px;
				}

				#add-friend-btn, #delete-friend-btn {
					width: 75px;
					margin-left: 20px;
				}

				#talk-btn {
					width: 62px;
				}
			}
		}
	}

	.tag {
		color: #fff;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 90px;
		height: 32px;
		font-size: 14px;
		background-color: @bg-color;
		padding: 10px 0px 0px 10px;
	}

	.about {
		.edit-btn, .save-btn {
			.edit-btn;
			position: absolute;
			right: 50px;
			top: 20px;
		}

		.cancel-btn {
			position: absolute;
			right: 100px;
			top: 20px;
		}

		p {
			margin-top: 45px;
			line-height: 2em;
		}

		.about-textarea {
			margin-top: 30px;
			.input(800px, 200px);
			font-size: 14px;
			line-height: 1.5em;
			padding-top: 10px;
		}
	}

	.skill {
		padding: 65px 50px 26px 50px;

		.skill-item {
			position: relative;
			float: left;
			width: 101px;
			height: 43px;
			line-height: 43px;
			vertical-align: middle;
			margin: 14px 30px 14px 0px;
			border: solid 1px #7ecec8;
  			border-radius: 10px;
  			.skill-name {
  				font-weight: bold;
				display: block;
				margin: auto;
				text-align: center;
  			}
  		}
  		.block-img {
  			display: block;
  			margin-left: 90px;
  			margin-top: -50px;
  			cursor: pointer;
  		}
		.add-btn-img {
			padding: 15px;
			cursor: pointer;
		}
		.bg { 
		 	position: fixed; 
		 	top: 0%; 
		 	left: 0%; 
		 	width: 100%; 
		 	height: 100%;
			background-color: black; 
			z-index:1001; 
			-moz-opacity: 0.7; 
			opacity:.70; 
			filter: alpha(opacity=70);
		}
		.show {
		 	position: fixed; 
		 	top: 25%;
		  	left: 40%;
		  	width: 20%;
		  	height: 20%;
		  	padding: 10px;
		 	border: 5px solid #E8E9F7; 
		 	background-color: white; 
		 	z-index:1002; 
		 	filter: alpha(opacity=70);
		 	overflow: auto;
		 	.skill-name {
		 		margin-left: 40px;
  				margin-top: 10px;
  				border: solid 1px #7ecec8;
  				border-radius: 10px;
  				text-align: center;
  				height: 20px;
  			}
  			.add-save-btn,.add-cancel-btn {
				.edit-btn;
				cursor: pointer;
				position: absolute;
				right: 150px;
				top: 60px;
			}
			.add-cancel-btn {
				right: 100px;
			}
		 }
	}

	.work-experience {
		padding: 70px 50px 10px 50px;
		.work-item {
			line-height: 1.5em;
			margin-bottom: 30px;

			.work-time {
				float: left;
				width: 250px;
				input {
					.input (90px);
					font-size: 14px;
				}
			}

			.work-content {
				float: left;
				width: 345px;
				margin: 0px 50px 0px 50px;
				input {
					.input (300px);
					font-size: 14px;
				}
			}
		}
	}

	.edu-experience {
		padding: 70px 50px 10px 50px;
		.edu-item {
			line-height: 1.5em;
			margin-bottom: 30px;

			.edu-time {
				float: left;
				width: 250px;
				input {
					.input (91px);
					font-size: 14px;
				}
			}

			.edu-content {
				float: left;
				width: 345px;
				margin: 0px 50px 0px 50px;
				input {
					.input (300px);
					font-size: 14px;
				}
			}
		}
	}

	.awards {
		padding: 70px 50px 10px 50px;
		.award-item {
			line-height: 1.5em;
			margin-bottom: 30px;
			.award-time {
				float: left;
				width: 250px;
				input {
					.input (91px);
					font-size: 14px;
				}
			}

			.award-content {
				float: left;
				width: 345px;
				margin: 0px 50px 0px 50px;
				input {
					.input (300px);
					font-size: 14px;
				}
			}
		}
	}

	.friends {
		.friend {
			float: left;
			margin: 0px 0px 20px 20px;
			width: 80px;

			.friend-name {
				text-align: center;
				margin-top: 10px;
				a {
					display: block;
					width: 80px;
					word-wrap: break-word;
				}
			}

			.friend-avatar {
				img {
					.border-radius(25px);
					margin: 0 auto;
					display: block;
				}
			}
		}

		.pagination {
			float: right;
			li {
				float: left;
				margin-left: 5px;
			}
		}
	}

	.contact {
		.edit-btn, .save-btn {
			.edit-btn;
			position: absolute;
			right: 50px;
			top: 20px;
		}
		.cancel-btn {
			position: absolute;
			right: 100px;
			top: 20px;
		}
		.contact-avatar {
			float: left;
			overflow: hidden;
			margin-right: 152px;
			.border-radius(75px);
		}
		.contact-text {
			height: 167px;
			float: left;
			position: relative;
			margin-top: 10px;

			input {
				.input (151px);
				font-size: 14px;
			}

			img {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			.title {
				margin-left: 50px;
			}

			div {
				margin-bottom: 20px;
			}

			label {
				width: 50px;
				display: inline-block;
			}
		}
	}
}