header {
  display: block;
  height: 58px;
  width: 100%;
  background-color: white;
  padding: 10px;
}
header .logo {
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}
header nav {
  float: left;
  width: 300px;
  margin-left: 50px;
}
header nav ul {
  list-style: none;
  width: 300px;
  height: 41px;
  padding: 0px;
  margin: 0px;
  margin-top: 7px;
}
header nav ul li {
  color: #493f35;
  float: left;
  width: 100px;
  height: 41px;
  vertical-align: middle;
  line-height: 41px;
  text-align: center;
}
header nav ul li:hover {
  background-color: #7ecac8;
  cursor: pointer;
  color: white;
}
header .tools {
  float: right;
  margin-right: 100px;
  line-height: 58px;
  vertical-align: middle;
}
header .tools span {
  float: left;
  margin-left: 40px;
}
header .tools span a {
  color: #493f35;
}
.clear {
  clear: both;
}
body {
  background-color: gray;
  margin: 0px;
}
body #container {
  position: relative;
  background-color: #7ecac8;
  min-height: 472px;
  height: 472px;
  width: 100%;
  font-family: "微软雅黑";
  clear: both;
}
body #container .input-wrapper {
  top: 50%;
  left: 50%;
  width: 835px;
  height: 110px;
  margin-top: -56px;
  position: absolute;
  border-radius: 20px;
  margin-left: -414px;
  background-color: rgba(255, 255, 255, 0.08);
}
body #container .input-wrapper .input-wrapper-2 {
  width: 780px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px 11px 10px 11px;
  background-color: rgba(255, 255, 255, 0.1);
}
body #container .input-wrapper .input-wrapper-2 #input {
  float: left;
  border: 0px;
  outline: none;
  width: 662px;
  height: 40px;
  padding: 10px;
  color: #3a6209;
  font-size: 25px;
  border-radius: 10px;
}
body #container .input-wrapper .input-wrapper-2 input:focus {
  border: 0px;
}
body #container .input-wrapper .input-wrapper-2 .search-btn {
  width: 78px;
  height: 60px;
  margin-left: 15px;
  background-color: red;
  float: left;
  border-radius: 10px;
}
body #container .input-wrapper .input-wrapper-2 .search-btn:hover {
  cursor: pointer;
}
